@model ERP.ViewModels.OrderViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
    <div ng-app="ERP" ng-controller="OrderCreateController">
        <div class="form-horizontal">
            <h4>Order</h4>
            <hr/>
            <div>
                <fieldset data-ng-repeat="choice in order.SelectedItems">
                    <select ng-model="choice.ItemName">
                        <option ng-repeat="item in items">{{item.Name}}</option>
                    </select>
                    <input type="number" ng-model="choice.Quantity" name="">
                    <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
                </fieldset>
                <button class="addfields btn btn-default" ng-click="addNewChoice($event)">Add items</button>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button class="btn btn-default" ng-click="sendForm()">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/angular")
}
